<div class="splash-screen">
  <h1 class="splash-screen-title">MY BUDGET APP</h1>
  <div class="splash-screen-buttons">
    <%= link_to "LOG IN", new_user_session_path, class: "login-button" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "signup-button" %>
  </div>
</div>