.sign-out-btn {
  background: transparent;
  color: white;
  border: white;
  padding: 5px;
  font-size: 13px;
}

.category-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.nav.background {
  height: 70px;
  width: 100%;
}

.Add-new-category-container {
  width: 100%;
}

.add-category-button {
  padding: 15px;
  background-color: #010002;
  color: white;
  font-size: 18px;
  display: flex;
  margin-top: 20px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.categories-container {
  margin-bottom: 20px;
}

#next-btn {
  cursor: pointer;
}

.group-link {
  text-decoration: none;
  color: #8b3209;
  display: flex;
  flex-direction: row;
  background: white;
  padding: 10px;
  align-items: flex-start;
  width: 50%;
  text-align: left;
  gap: 25px;
}

.Cat-image {
  width: 150px;
  height: 100px;
}

.category {
  padding: 10px;
  margin-right: 3%;
  margin-left: 3%;
}

.category-new {
  padding: 10px;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 15px;
  margin-bottom: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.category-new-div {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 13px;
}

.category-new-div-p {
  background: white;
  padding-bottom: 10px;
}

.category h2 {
  margin-bottom: 10px;
  background: white;
}

.category p {
  margin: 0;
  background: white;
}

.category-div {
  display: flex;
  justify-content: space-between;
  background: white;
  padding-right: 10px;
}

.name-amount {
  background: white;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.group-date {
  color: #070606;
}

.total-amount {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 500;
}

.amt-div {
  display: flex;
  flex-direction: column;
  background: white;
  padding-top: 13px;
}

.total-amt {
  background: white;
  padding: 17px;
  text-align: right;
  font-size: 19px;
  font-weight: bolder;
}

.category-total {
  display: flex;
  justify-content: space-between;
  background: white;
  padding-right: 10px;
}

.custom-fieldss {
  background: white;
  padding: 20px;
}

.custom-fieldsss {
  background: white;
  padding: 20px;
  margin-bottom: 3px;
}

.custom-fieldsss input:focus {
  outline: none;
}

.formlabel {
  background: white;
  font-size: 13px;
  color: #757575;
  padding-right: 5px;
}

#entity_name {
  border: none;
  background: white;
}

#group_icon {
  background: white;
}

.custom-fieldn {
  width: 100%;
  padding: 18px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  margin-bottom: 3px;
}

#entity_amount {
  border: none;
  background: white;
}
